@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Quicksand:wght@500;700&family=Roboto:wght@300;400;500&family=Rubik:ital,wght@0,300;0,400;0,500;1,500&family=Ubuntu:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body { 
    font-family: 'Rubik', sans-serif;
}

.tool-middle {
    color: white;
     background-color: rgb(101, 195, 223);
}

.tool-footer{
    background-color: rgb(244, 244, 244)
}
.sensor-card {
    background-color: rgb(101, 195, 223);
}

.sensor-card-right{
    background-color: rgb(243, 243, 243);
}

.room-content{
    background-color: rgb(244, 244, 244)
}

.status-indicator {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header-height{
    height: 90px;
}

.sidebar-color{
    background-color: rgb(53, 53, 53);
}

.sidebar-header{
    background-color: rgb(24, 178, 240);
}

.hh-70{
    height: 120px;
}

.ww-200{
    width: 200px;
}

.room-card{
    width: 31.5%;
}

.box-shadow{
    box-shadow: 0px 0px 3px rgb(158, 158, 158);
    border-radius: 2px;
}

.active {
    background-color: rgba(34, 197, 94, 1);
    border-radius: 9999px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: white;
}

.inActive {
    background-color: rgba(197, 34, 34, 1);
    border-radius: 9999px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: white;
}

.min-width{
    min-width: 30%;
}

.none { 
    display: none;
}

.sidebar{
    width: 20%;
}

.dashboard {
    width: 80%;
}
.about {
    width: 85%;
}
.chart {
    width: 85%;
}


.sidebar,
.dashboard, 
.about {
    transition: 0.5s ease; 
}

.head-2{
    display: none;
}

@media screen and (max-width: 1000px){
    .items{
        padding-left: 1rem;
    }

    .sidebar-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sidebar-item p{
        font-size: medium;
        padding-right: 20px;
    }
}

@media screen and (max-width: 875px){
    .sidebar-item p{
        display: none;
    }

    .dashboard-header{
        display: flex;
        flex-wrap: wrap;
    }
    
    .items{
        padding-left: 2rem;
    }
    
    .head-1{
        display: none;
    }
    .head-2{
        display: block;
    }
}

@media screen and (max-width: 600px){
    .sidebar-item p{
        display: none;
    }

    .items{
        padding-left: 2rem;
    }

    .head-1{
        display: none;
    }
    .head-2{
        display: block;
    }
}

@media screen and (max-width: 550px){
    .items{
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 400px){
    .items{
        padding-left: 1rem;
    }
    .sensor-card{
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        max-width: 20%;
    }
    .dashboard {
        width: 85%;
    }
    .chart {
        width: 85%;
    }
    .about{
        width: 85%;
    }
    .tool-middle{
        display: flex;
        flex-wrap: wrap;    
    }
}

@media screen and (max-width: 300px){
    .items{
        padding-left: 1rem;
    }
}